@model Account

@{

	ViewData["Title"] = "Sign up Page";

	List<string> Governments = new List<string>(){"Alexandria Governorate",
"Aswan Governorate",
"Asyut Governorate",
"Beheira Governorate",
"Beni Suef Governorate",
"Cairo Governorate",
"Dakahlia Governorate",
"Damietta Governorate",
"Faiyum Governorate",
"Gharbia Governorate",
"Giza Governorate",
"Ismailia Governorate",
"Kafr El Sheikh Governorate",
"Luxor Governorate",
"Matruh Governorate",
"Minya Governorate",
"Monufia Governorate",
"New Valley Governorate",
"North Sinai Governorate",
"Port Said Governorate[5]",
"Qalyubia Governorate",
"Qena Governorate",
"Red Sea Governorate",
"Sharqia Governorate",
"Sohag Governorate",
"South Sinai Governorate",
"Suez Governorate"};
}


<div>

	<h2>Hi Welcome to the Sign up page</h2>

	@using (Html.BeginForm("Edit"))
	{

		@Html.AntiForgeryToken()

		<div class="form-group">
			@Html.LabelFor(m => m.Id)
			@Html.TextBoxFor(m => m.Id , new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.Id , null ,new { @class = "text-danger"})
		</div>


		<div class="form-group ">
			@Html.LabelFor(m => m.FirstName)
			@Html.TextBoxFor(m => m.FirstName , new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.FirstName , null ,new { @class = "text-danger"})
		</div>


		<div class="form-group ">
			@Html.LabelFor(m => m.LastName)
			@Html.TextBoxFor(m => m.LastName , new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.LastName , null ,new { @class = "text-danger"})
		</div>


		<div class="form-group">
			@Html.LabelFor(m => m.Email)
			@Html.TextBoxFor(m => m.Email , new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.Email , null ,new { @class = "text-danger"})
		</div>


		<div class="form-group">
			@Html.LabelFor(m => m.PhoneNumber)
			@Html.TextBoxFor(m => m.PhoneNumber , new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.PhoneNumber , null ,new { @class = "text-danger"})
		</div>


		<div class="form-group">
			@Html.LabelFor(m => m.City)
			@Html.DropDownListFor(m => m.City ,new SelectList(Governments ,"City"),"",new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.City , null ,new { @class = "text-danger"})
		</div>


		<div class="form-group visually-hidden">
			@Html.LabelFor(m => m.Balance)
			@Html.TextBoxFor(m => m.Balance , new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.Balance , null ,new { @class = "text-danger"})
		</div>




		<div class="form-group">
			@Html.LabelFor(m => m.Pin)
			@Html.PasswordFor(m => m.Pin , new { @class = "form-control"})
			@Html.ValidationMessageFor(m=>m.Pin , null ,new { @class = "text-danger"})
		</div>
		<p class="text-warning fw-bolder">Please Enter The PIN To Confirm The Edit</p>


		<button type="submit" new { class="btn bg-success text-white my-4" }>Edit</button>


	}



</div>
</div>